@model List<Brand>

<h1>Marcas</h1>

<table class="table">
    <thead>
            <tr>
                <th>Nombre</th>
            </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model )
        {
            <tr>
                <td>@Html.DisplayFor(m=>brand.NameBrand)</td>
            </tr>
            
        }
    </tbody>
</table>