@model List<Beer>

<!-- Título de la página -->
<h1>Cervezas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Marca
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var beer in Model)
        {
            <tr>
                <td>
                    <!-- Muestra el nombre de la cerveza -->
                    @Html.DisplayFor(m => beer.NameBeer)
                </td>
                <td>
                    <!-- Muestra la marca asociada a la cerveza -->
                    @Html.DisplayFor(m => beer.Brand.NameBrand)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>